/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

/* general style */
html,
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #333333;
}

.banner_text_block,
.philosophy_title,
.philosophy_post,
.contact_form_wraper_text,
.about_us,
.showcase_title,
.showcase_post_text {
  padding: 0 20px;
}
h2 {
  font-weight: 500;
  -ms-grid-column-align: start;
  justify-self: start;
  font-size: 1.5rem;
  line-height: 2rem;
}
h3 {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.button {
  padding: 12px 24px;
  border: none;
  outline: none;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: inherit;
  background-color: #111111;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
.button:hover {
  background-color: #02a7ea;
}
.button:focus {
  background-color: #046e9a;
}
.header {
  display: -ms-grid;
  display: grid;
  height: 56px;
  padding: 0 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
.logo_mobile_header {
  display: block;
  width: 70px;
  height: auto;
}
.burger_menu_wraper {
  -ms-grid-column-align: end;
  justify-self: end;
}
.burger_checkbox {
  display: none;
}
input[type="checkbox"]:checked + label:after {
  display: none;
}
.burger_checkbox:checked ~ .burger_menu {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.burger_button {
  width: 32px;
  height: 32px;
  background: url(../images/header/burger.svg) no-repeat;
  background-size: cover;
  position: absolute;
  top: 12px;
  right: 20px;
  cursor: pointer;
  z-index: 15;
}
.burger_checkbox:checked ~ .burger_button {
  background: url(../images/header/close.svg) no-repeat;
  z-index: 15;
  position: fixed;
}
.burger_menu {
  background-color: rgba(17, 17, 17, 0.9);
  position: fixed;
  top: 0;
  bottom: 0;
  right: -100%;
  left: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: 5;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: start;
  align-content: start;
  justify-items: center;
  gap: 40px;
  padding-top: 108px;
}
.logo,
.mobile_logo {
  width: 70px;
  height: 44px;
}
.burger_menu_link {
  display: block;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.navigation {
  display: -ms-grid;
  display: grid;
  gap: 24px;
  justify-items: center;
  padding-bottom: 25px;
}
.main {
  display: -ms-grid;
  display: grid;
}
.philosophy {
  margin-top: 59px;
}
.banner_wraper,
.philosophy,
.about_us,
.showcase {
  display: -ms-grid;
  display: grid;
  row-gap: 32px;
  justify-items: center;
  -ms-grid-row-align: start;
      align-self: start;
}
.parent_img {
  width: 100%;
  height: auto;
}
.banner_text_block,
.contact_form_wraper_text,
.philosophy_content,
.philosophy_post,
.about_us_post_wraper,
.about_us_post,
.about_us_text_block,
.showcase_post,
.contacts {
  display: -ms-grid;
  display: grid;
  row-gap: 24px;
}
.banner_wraper {
  justify-items: stretch;
      grid-template-areas:
    "banner_img"
    "banner_text_block";
}
.banner_img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: banner_img;
}
.banner_text_block {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: banner_text_block;
}
.banner_title {
  font-weight: 500;
}
.banner_title_second_part {
  display: block;
  padding-top: 4px;
}
.banner_contact_form,
.contact_form,
.philosophy_post_text,
.showcase_post_text {
  display: -ms-grid;
  display: grid;
  row-gap: 16px;
}
.input_mail {
  outline: none;
  border: none;
  margin: 0;
  font-family: inherit;
  border: 1px solid #333333;
  padding: 11px 24px;
}
.input_mail:hover,
.input_mail:focus {
  border: 1px solid #2b27f6;
  color: #000000;
}
.input_mail::-webkit-input-placeholder {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #959494;
  opacity: 0.72;
}
.input_mail::-moz-placeholder {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #959494;
  opacity: 0.72;
}
.input_mail:-ms-input-placeholder {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #959494;
  opacity: 0.72;
}
.input_mail::-ms-input-placeholder {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #959494;
  opacity: 0.72;
}
.input_mail::placeholder {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #959494;
  opacity: 0.72;
}
.philosophy {
  padding-bottom: 34px;
}
.contact_form_wraper {
  color: #ffffff;
}
.contact_form_mail {
  border: solid 1px transparent;
}
.contact_form_middle_wraper,
.contact_form_bottom_wraper {
  display: -ms-grid;
  display: grid;
  background-color: #7cb0c5;
}
.contact_form_middle_img {
  min-height: 239px;
  background: url(../images/contact_form_middle/contact_form_middle.jpg)
    no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
.contact_form_middle_wraper_text {
  padding-top: 45px;
}
.contact_form_wraper_text {
  padding-top: 45px;
  padding-bottom: 45px;
}
.contact_form_wraper_text_title {
  color: #ffffff;
}
.about_us,
.showcase {
  margin-top: 60px;
}
.about_us_post {
  padding-bottom: 4px;
}

.showcase_post_2 {
  display: none;
}
.showcase_post_2 {
  display: none;
}
.owl-carousel {
  width: 100vw;
  height: auto;
}
.owl-item {
  padding: 0;
}
.carousel__slide img {
  height: auto;
}
.owl-carousel .owl-dots.disabled {
  display: block;
}
.owl-dots {
  text-align: center;
}
.owl-carousel button.owl-dot {
  background: #ffffff;
  border: 0.5px solid #333333;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin: 0 3px;
}
.owl-carousel button.owl-dot.active {
  background: #333333;
}
.contact_form_bottom_wraper {
  margin-top: 80px;
}
.contact_form_bottom_wraper_text {
  padding: 45px 20px;
}
.contact_form_bottom_img {
  min-height: 239px;
  background: url(../images/contact_form_bottom/contact_form_bottom.jpg)
    no-repeat;
  background-position: 50% 0%;
  background-size: cover;
}
.footer {
  background-color: #333333;
  color: #ffffff;
}
.footer_container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  padding-top: 45px;
  padding-bottom: 54px;
  gap: 24px;
}
.email_wraper,
.address_wraper {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}
.email_p,
.address_p {
  font-weight: 500;
}
.email_link {
  text-decoration: none;
  color: #ffffff;
}
.email_link:hover {
  color: #7cb0c5;
}
.address {
  text-align: center;
}
.social_menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 24px 24px 24px 24px 24px;
  grid-template-columns: repeat(3, 24px);
  -webkit-column-gap: 24px;
  -moz-column-gap: 24px;
  column-gap: 24px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.instagram {
  background: url(../images/footer/instagram.png);
}
.twitter {
  background: url(../images/footer/twitter.png);
}
.facebook {
  background: url(../images/footer/facebook.png);
}
.link_social_menu {
  display: block;
  width: 24px;
  height: 24px;
  background-size: contain;
}

@media screen and (min-width: 576px) {
  .contact_form_middle_img,
  .contact_form_bottom_img {
    min-height: 325px;
  }
}

@media screen and (min-width: 768px) {
  .owl-carousel {
    display: none;
  }
  body {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .wraper {
    -ms-grid-column-align: center;
    justify-self: center;
    max-width: 1170px;
    width: calc(100% - 64px);
    margin: 0 32px;
  }

  h2 {
    -ms-grid-column-align: center;
    justify-self: center;
    font-size: 2.5rem;
    line-height: 3rem;
  }
  h3 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .header {
    height: 128px;
  }
  .logo_mobile_header,
  .burger_checkbox,
  .burger_button {
    display: none;
  }
  .burger_menu {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    right: 0;
    height: 128px;
    background-color: transparent;
    padding-top: 0;
    grid-auto-flow: column;
    -ms-flex-line-pack: center;
    align-content: center;
    justify-items: stretch;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    max-width: 1170px;
    width: calc(100% - 64px);
  }
  .burger_menu_link {
    color: #333333;
  }
  .burger_menu_link:hover {
    color: #7cb0c5;
  }
  .navigation {
    grid-auto-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    gap: 48px;
  }
  .social_menu {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
  }
  .banner_title {
    font-size: 1.95rem;
    line-height: 2.5rem;
  }
  .banner_title_second_part {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .banner_wraper {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -ms-grid-columns: 51% 49%;
    grid-template-columns: 51% 49%;
        grid-template-areas: "banner_text_block banner_img";
  }
  .banner_img img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .banner_text_block {
    padding: 36px 42px 36px 0;
    row-gap: 32px;
  }
  .philosophy,
  .contact_form_middle_wraper,
  .about_us,
  .showcase {
    margin-top: 80px;
  }
  .philosophy {
    padding-bottom: 0;
  }
  .philosophy_content {
    gap: 40px;
  }
  .philosophy_post {
    gap: 40px;
    padding: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .philosophy_post_text_odd {
    grid-area: philosophy_post_text_odd;
  }
  .philosophy_img_odd {
    grid-area: philosophy_img_odd;
  }
  .philosophy_post_text_even {
    grid-area: philosophy_post_text_even;
  }
  .philosophy_img_even {
    grid-area: philosophy_img_even;
  }
  .philosophy_post_odd {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
        grid-template-areas: "philosophy_post_text_odd philosophy_img_odd";
  }
  .philosophy_post_even {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
        grid-template-areas: "philosophy_img_even philosophy_post_text_even";
  }
  .contact_form_middle_wraper {
    position: relative;
    -ms-grid-columns: 51% 49%;
    grid-template-columns: 51% 49%;
        grid-template-areas: "empty contact_form_middle_img";
  }
  .contact_form_middle_img {
    min-height: 562px;
    background-position: 50% 0%;
    background-size: cover;
    margin-top: 0;
    grid-area: contact_form_middle_img;
  }
  .empty {
    grid-area: empty;
  }
  .contact_form_middle_wraper_text {
    position: absolute;
    width: 40%;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    left: 0;
    padding: 0;
  }
  .contact_form_middle_wraper_text_title,
  .contact_form_bottom_wraper_text_title {
    -ms-grid-column-align: left;
    justify-self: left;
  }
  .about_us {
    padding-left: 0;
    padding-right: 0;
  }
  .about_us_post_wraper {
    -ms-grid-columns: 1fr 40px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .about_us_text_block_even {
    grid-area: about_us_text_block_even;
  }
  .about_us_post_img_even {
    grid-area: about_us_post_img_even;
  }
  .about_us_post_odd {
    -ms-grid-rows: 1fr auto;
    grid-template-rows: 1fr auto;
  }
  .about_us_post_even {
    -ms-grid-rows: auto 1fr;
    grid-template-rows: auto 1fr;
        grid-template-areas:
      "about_us_post_img_even"
      "about_us_text_block_even";
  }
  .showcase_post_text {
    display: none;
  }
  .showcase {
    padding-bottom: 0;
}
  .showcase_post_desktop {
    grid-area: showcase_post_desktop;
    display: grid;
    gap: 24px;
  }
  .showcase_post {
    display: none;
  }
  .one {
    grid-area: one;
    display: grid;
    gap: 30px;
    grid-template: auto auto / 1fr 1fr;
    grid-template-areas: 
      "showcase_post_desktop showcase_post_desktop"
      "slide_1 slide_2";
  }
  .two {
    grid-area: two;
    display: grid;
    gap: 30px;
    grid-template-rows: 1fr 1fr;
  }
  .slide_1 {
    grid-area: slide_1;
    overflow: hidden;
  }
  .slide_2 {
    grid-area: slide_2;
    overflow: hidden;
  }
  .slide_3 {
    overflow: hidden;
  }
  .slide_4 {
    overflow: hidden;
  }
  .showcase_post_2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    grid-template-areas: 
      "one two";
    grid-template-rows: 715px;
  }
  
  /* .carousel { */

   /*  display: -ms-grid;
    display: grid;
    grid-template: auto / 2fr 1fr; */
  /*   -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
    -ms-grid-columns: 1fr 30px 1fr 30px 1fr; */
   /*      grid-template: auto auto auto / 1fr 1fr 1fr;
    gap: 30px; */
    /*     grid-template-areas:
      "showcase_post_text_desktop showcase_post_text_desktop carousel__slide_3"
      "carousel__slide_1 carousel__slide_2 carousel__slide_3"
      "carousel__slide_1 carousel__slide_2 carousel__slide_4"; */
  /* } */
  /*.carousel__slide {
    padding: 0;
    overflow: hidden;
    min-height: 100%;
    max-height: 727px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .carousel__slide_3,
  .carousel__slide_4 {
    max-height: 497px;
  } */
  .contact_form_wraper_text {
    padding-right: 0;
  }
  .contact_form_bottom_wraper {
    -ms-grid-columns: 49% 51%;
    grid-template-columns: 49% 51%;
    position: relative;
    margin-top: 80px;
  }
  .contact_form_bottom_img {
    min-height: 410px;
  }
  .absolute {
    position: absolute;
    width: 720px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .contact_form_bottom_wraper_text {
    position: absolute;
    top: 50%;
    width: 44%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    right: 0;
    padding: 0;
  }
  footer {
    display: -ms-grid;
    display: grid;
  }
  .footer_container {
    -ms-grid-columns: 1fr 3fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;
    -ms-grid-rows: auto 24px auto;
        grid-template-areas:
      "logo contacts social_menu_footer"
      ". copywrite .";
    padding-top: 64px;
    padding-bottom: 64px;
    row-gap: 24px;
  }
  .logo {
    grid-area: logo;
    -ms-grid-column-align: start;
    justify-self: start;
  }
  .contacts {
    grid-area: contacts;
  }
  .social_menu_footer {
    grid-area: social_menu_footer;
    -ms-grid-column-align: end;
    justify-self: end;
  }
  .copywrite {
    grid-area: copywrite;
  }
  .banner_img {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .banner_text_block {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .contacts {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .social_menu_footer {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .copywrite {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
}

@media screen and (min-width: 768px) {
  .showcase_post_text_desktop {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
 /*  .carousel__slide_1 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
  }
  .carousel__slide_2 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 3;
    -ms-grid-column: 3;
  }
  .carousel__slide_3 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 5;
  }
  .carousel__slide_4 {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
  } */
}

@media screen and (min-width: 768px) {
  .about_us_text_block_even {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .about_us_post_img_even {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
}

@media screen and (min-width: 768px) {
  .contact_form_middle_img {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .empty {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
}

@media screen and (min-width: 768px) {
  .philosophy_post_text_even {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .philosophy_img_even {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
}

@media screen and (min-width: 768px) {
  .philosophy_post_text_odd {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .philosophy_img_odd {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
}
@media screen and (min-width: 992px) {
  .banner_title {
    font-size: 2.7rem;
    line-height: 3.5rem;
  }
  .banner_title_second_part {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .banner_contact_form,
  .contact_form_middle_form {
    gap: 0;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr 0 auto;
    grid-template: 1fr / 1fr auto;
  }
  .absolute {
    width: 960px;
  }
  .contact_form_middle_img {
    min-height: 562px;
  }
  .contact_form_middle_wraper_text {
    width: 40%;
  }
  .contact_form_bottom_img {
    min-height: 600px;
  }
  .footer_container {
    row-gap: 24px;
  }


  .showcase_post_2 {
    grid-template-rows: 840px;
  }
}
@media screen and (min-width: 1200px) {
  .showcase_post_2 {
    grid-template-rows: 1024px;
  }
  .one {
    align-content: space-between;
  }
  .showcase_post_desktop {
    gap: 48px;
  }
  .slide_1, .slide_2 {
    height: 727px;
  }
  .slide_1, .slide_2, .slide_3, .slide_4 {
    width: 370px;
  }
  .banner_title {
    font-size: 2.8rem;
  }
  .banner_text_block {
    padding: 95px 130px 95px 0;
    row-gap: 32px;
  }
  .contact_form_middle_form {
    gap: 0;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 301px 0 170px;
    grid-template: 1fr / 301px 170px;
  }
  .banner_text {
    font-size: 20px;
  }
  .philosophy,
  .contact_form_middle_wraper,
  .about_us,
  .showcase {
    margin-top: 160px;
  }
  .parent_img {
    height: 100%;
    overflow: hidden;
  }
  .parent_img img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .philosophy {
    gap: 80px;
  }
  .philosophy_content {
    gap: 80px;
  }
  .philosophy_content_img {
    height: 614px;
  }
  .philosophy_post {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    gap: 80px;
  }
  .philosophy_post_text {
    gap: 48px;
  }
  .contact_form_wraper {
    background-color: #7cb0c5;
  }
  .contact_form_middle_wraper_text {
    width: 40%;
  }
  .about_us,
  .about_us_post_wraper {
    gap: 80px;
  }
  .about_us_post_odd {
    -ms-grid-rows: 1fr 400px;
    grid-template-rows: 1fr 400px;
  }
  .about_us_post_even {
    -ms-grid-rows: 400px 1fr;
    grid-template-rows: 400px 1fr;
  }
  .about_us_post,
  .about_us_text_block {
    gap: 48px;
  }
  .showcase {
    gap: 80px;
  }
  .showcase_post {
    gap: 0;
  }
  /* .showcase_post_text_desktop {
    display: -ms-grid;
    display: grid;
    gap: 48px;
  } */
  /* .carousel {
    gap: 30px;
  } */
  .contact_form_bottom_wraper {
    margin-top: 140px;
  }
  .contact_form_bottom_wraper_text {
    padding: 210px 0 210px 130px;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  .contact_form_bottom_img {
    min-height: 690px;
  }
  .absolute {
    width: 1170px;
  }
  .contact_form_bottom_wraper_text {
    width: 40%;
  }
  .footer_container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

/* pop-up */
.modal_button {
  text-align: center;
  display: block;
  border: none;
  font: inherit;
  background-color: #111111;
  color: #ffffff;
  cursor: pointer;
  height: auto;
  width: 100%;
  font-size: 18px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.modal_checkbox {
  display: none;
}
.fixed {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(17, 17, 17, 0.9);
  z-index: 998;
}
.fixed_none {
  display: none;
}
.window {
  position: absolute;
  width: calc(100% - 32px);
  max-width: 442px;
  height: 400px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 15;
  background: url(../images/pop_up/popup.png);
  background-size: cover;
  background-position: center;
  z-index: 999;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  -ms-flex-line-pack: start;
  align-content: start;
}
.window_text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #7cb0c5;
  color: #ffffff;
  text-align: center;
  padding: 44px 52px 47px;
}
.first_line_window {
  padding-bottom: 21px;
  font-weight: 500;
}
.close {
  background: url(../images/header/close.svg);
  width: 25px;
  height: 25px;
  border: none;
  cursor: pointer;
  margin-top: 18px;
  margin-right: 22px;
}